@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('./gtwalsheimpro/gtwalsheimpro_condensedmedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
